@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    background-color: rgb(15, 74, 15);
    color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    font-family: 'Ribeye', cursive;
}

#menu {
    margin-top: 20px;
    background-color: rgb(10, 52, 10);
    min-width: 200px;
    width: 30%;
    min-height: 500px;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.7s;
}

#menu:hover{
    box-shadow: 2px 2px 80px 2px rgb(18, 116, 41);
}

.money {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(37, 111, 24);
    color: rgb(228, 228, 228);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 70%;
}
#money-title {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#player-money {
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    border-radius: 3px;
    color: rgb(195, 192, 18);
    font-family: 'Fredericka the Great', cursive;
}

.place-bet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px;
}

#bet-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

#bet {
    width: 80%;
    height: 30px;
    background-color: rgb(0, 75, 10);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
    outline-style: none;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: rgb(195, 192, 18);
    font-family: 'Fredericka the Great', cursive;
}

#bet:focus {
    box-shadow: 1px 1px 20px 2px rgb(195, 192, 18);
}

.start-btn {
    margin-bottom: 20px;
    width: 60%;
    height: 60px;
    background-color: rgb(32, 155, 40);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}

.start-btn:hover {
    scale: 1.05;
    cursor: pointer;
}

#game {
    background-color: rgb(10, 52, 10);
    padding: 40px;
    border-radius: 10px;
    display: none;
    width: 50%;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
}

.dealer {
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(10, 52, 10);
    border: 2px solid rgb(14, 88, 31);
    margin: 5px;
    width: 50%;
    min-height: 45vh;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.player {
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid rgb(14, 88, 31);
    background-color: rgb(10, 52, 10);
    margin: 5px;
    width: 50%;
    min-height: 45vh;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#player-cards, #dealer-cards, #player-total, #dealer-total {
    font-size: 26px;
    color: rgb(216, 216, 2);
}

#game-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hit, #stand {
    width: 50%;
    height: 40px;
    background-color: rgb(32, 155, 40);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}

#hit {
    margin-right: 10%;
}

#hit:hover, #stand:hover {
    scale: 1.05;
    cursor: pointer;
    background-color:rgb(41, 191, 51);
}

#end {
    display: none;
    background-color: rgb(10, 52, 10);
    border-radius: 5px;
    padding: 40px;
    width: 50%;
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#return-btn {
    min-width: 30%;
    width: auto;
    height: 40px;
    background-color: rgb(32, 155, 40);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.5s;
}

#return-btn:hover {
    scale: 1.05;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #game {
        flex-direction: column;
    }
    .dealer, .player {
        width: 80%;
    }
    #return-btn {
        max-width: 50%;
    }
    .money {
        flex-direction: column;
    }
}