@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(15, 74, 15);
    color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    font-family: 'Ribeye', cursive;
}

#menu {
    background-color: rgb(10, 52, 10);
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

#player-money {
    font-weight: bold;
    background-color: goldenrod;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    color: rgb(10, 52, 10);
}

.place-bet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.start-btn {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: rgb(32, 155, 40);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}

.start-btn:hover {
    scale: 1.1;
    cursor: pointer;
}

#game {
    background-color: rgb(10, 52, 10);
    padding: 40px;
    border-radius: 10px;
    display: none;
    width: 600px;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
}

.dealer {
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(10, 52, 10);
    border: 2px solid rgb(14, 88, 31);
    margin-right: 5px;
    width: 50%;
    min-height: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.player {
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid rgb(14, 88, 31);
    background-color: rgb(10, 52, 10);
    margin-left: 5px;
    width: 50%;
    min-height: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#player-cards, #dealer-cards, #player-total, #dealer-total {
    font-size: 26px;
    color: rgb(216, 216, 2);
}

#game-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hit, #stand {
    width: 50%;
    height: 40px;
    background-color: rgb(32, 155, 40);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}
#hit {
    margin-right: 20px;
}

#hit:hover, #stand:hover {
    scale: 1.1;
    cursor: pointer;
}

#end {
    display: none;
    background-color: rgb(10, 52, 10);
    border-radius: 5px;
    padding: 40px;
    width: 600px;
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#return-btn {
    width: 200px;
    height: 40px;
    background-color: rgb(32, 155, 40);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}

#return-btn:hover {
    scale: 1.1;
    cursor: pointer;
}